<h1>All Destinations</h1>
<a class=" btn btn-primary m-2" href="/destinations/create">Add Your Experience</a>

{{#if destinations.length}}
  <table style="width:100%" class="table table-hover responsive nowrap">
    <thead class="bg-success">
      <tr>
        <th>Name</th>
        <th>City</th>
        <th>Comments</th>
        <th>Picture</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {{#each destinations}}
        <tr class="bg-warning">
          <td>{{this.placeName}}</td>
          <td>{{this.placeCity}}</td>
          <td>{{this.comments}}</td>
          <td>
            {{#if this.picture}}
              <img src="{{this.picture}}" alt="{{this.name}}" width="100" height="100" />
            {{/if}}
          </td>
          <td><a href="/destinations/{{this._id}}/edit">Edit</a></td>
          <td><a href="/destinations/{{this._id}}/delete">Delete</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>No destinations found.</p>
{{/if}}
